//  Position Utilities




//  Dependencies:
//    Settings.Default
//    Settings.Breakpoint




// Options

$iota-position                    : true;
$iota-position--res               : false !default;
$iota-position-absolute-namespace : 'absolute' !default;
$iota-position-fixed-namespace    : 'fixed' !default;
$iota-position-relative-namespace : 'relative' !default;
$iota-position-static-namespace   : 'static' !default;




.#{$iota-utility-namespace}#{$iota-position-absolute-namespace} {
  position: absolute !important;
}

.#{$iota-utility-namespace}#{$iota-position-fixed-namespace} {
  position: fixed !important;
}

.#{$iota-utility-namespace}#{$iota-position-relative-namespace} {
  position: relative !important;
}

.#{$iota-utility-namespace}#{$iota-position-static-namespace} {
  position: static !important;
}




// Responsive Position Utilities

@if $iota-position--res {

  @each $name, $size in $iota-breakpoint-sizes {

    @media #{$size} {

      .#{$iota-utility-namespace}#{$iota-position-absolute-namespace}\@#{$name} {
        position: absolute !important;
      }

      .#{$iota-utility-namespace}#{$iota-position-fixed-namespace}\@#{$name} {
        position: fixed !important;
      }

      .#{$iota-utility-namespace}#{$iota-position-relative-namespace}\@#{$name} {
        position: relative !important;
      }

      .#{$iota-utility-namespace}#{$iota-position-static-namespace}\@#{$name} {
        position: static !important;
      }

    }

  }

}
